@model Electronic_Bank.Models.Wallet

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-6 grid-margin stretch-card">
<div class="card">
<div class="card-body">

    <h4 class="card-title">Create</h4>

    <p class="card-description">Wallet</p>
    <form class="forms-sample" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ClientId" class="control-label"></label>
            <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CurrencyId" class="control-label"></label>
            <select asp-for="CurrencyId" class ="form-control" asp-items="ViewBag.CurrencyId"></select>
        </div>
        <button type="submit" class="btn btn-primary me-2" value="Create">Create</button>
        <a class="btn btn-light" asp-action="Index">Cancel</a>
    </form>
</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
