@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="content-wrapper d-flex align-items-center auth px-0">
<div class="row w-100 mx-0">
    <div class="col-lg-8 mx-auto">
    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <h4>New here?</h4>
        <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
        <form class="pt-3" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control form-control-lg" placeholder="Password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" placeholder="Confirm Password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      I agree to all Terms & Conditions
                    </label>
                  </div>
            </div>
            <div class="mt-3">
                  <button id="registerSubmit" type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN UP</button>
            </div>
            <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a asp-area="Identity" asp-page="/Account/Login" class="text-primary">Login</a>
                </div>
        </form>
        </div>
      </div>
   </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
